services:
  crud_web_api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8082:8080"
    container_name: norbitpizza
    depends_on:
      - db

  db:
    image: postgres:13
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: norbitpizza
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: