h1,h2{
    color:#9d18c4;
}
.cart-container {
    
    display: flex;
    gap: 40px;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.cart-items-block, .user-info-block {
    background: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    flex: 1;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
.cart-item span{
    color :#ba8ac0;
}
.qty-controls {
    display: flex;
    align-items: center;
    gap: 5px;
}

    .qty-controls button {
        width: 25px;
        height: 25px;
        border: none;
        background: #9d18c4;
        color: white;
        border-radius: 4px;
        cursor: pointer;
    }

.remove-btn {
    background: #ed30dc;
    color: white;
    border: none;
    padding: 0 8px;
    border-radius: 3px;
    cursor: pointer;
}

    .remove-btn:hover {
        background: #c82333;
    }
label{
    color: #ed30dc;
}
input {
    color: white;
    border: 2px solid pink !important;
}
.cart-total {
    font-weight: bold;
    margin-top: 15px;
    text-align: right;
    font-size: 1.2em;
    color: pink;
}

.user-info-block label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.user-info-block input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.user-info-block button {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background: #9d18c4;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

    .user-info-block button:hover {
        background: #ba8ac0;
        ;
    }

.back-link {
    display: block;
    text-align: center;
    margin: 20px 0;
    color: #ba8ac0;
    text-decoration: none;
}

    .back-link:hover {
        text-decoration: underline;
    }

